/*
Screen sm 576px
 */
@media screen and (min-width: 576px){
    /* FOOTER */
    .footer-links li{
        width: calc(100% / 3);
    }
}

/*
Screen md 768px
 */
@media screen and (min-width: 768px){
    /* FOOTER */
    .footer-links li{
        width: calc(100% / 4);
    }
}

/* 
Screen Md to lg 769px to 992px 
*/
@media screen and (min-width:768px) and (max-width: 991px) {
    /* MAIN */
    /* Section tv */
    .video-container,
    .video-container-dispositivi{
        left: 45.5%;
    }

    /* Section Download */
    .download-container{
        width: 60%;
    }

    .download-container img{
        min-width: 50px;
    }
}


/*
Screen lg 992px
 */
@media screen and (min-width: 992px){
    /* MAIN */
    /* Jumbotron */
    /* Form inizia */
    .form-inizia input{
        min-width: 450px;
    }

    .form-inizia .ms_btn{
        min-width: 100px;
        font-size: 1.3rem;
    }
}